@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Flower Shop</h1>
    <p>Your One Stop Destination for Buying Colourful Blossoms</p>
</div>
